.containerver {
  max-width: 80vw;
  margin: 200px auto;
  padding: var(--padding);
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);
  box-shadow: var(--box-shadow);
}

.radioGroup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.radioInput {
  display: none;
}

.radioLabel {
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary-4);
  border-radius: var(--button-border-radius);
  background-color: #fff;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

.radioInput:checked + .radioLabel {
  background-color: var(--secondary-1);
  color: #fff;
}

.radioLabel:hover {
  background-color: var(--primary-4);
}

.error {
  color: red;
  margin-bottom: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color var(--transition-duration);
}

a:hover {
  color: var(--hover-color);
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: var(--padding);
}

.flexContainer > * {
  flex: 1 1 45%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .flexContainer > * {
    flex: 1 1 100%;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: var(--padding);
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);
  box-shadow: var(--box-shadow);
}

h2 {
  color: var(--text-color);
  font-size: var(--font-size-large);
  text-align: center;
  margin-bottom: 1rem;
}
