.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.2s, background-color 0.2s;
  width: 60px;
}

.iconButton:hover {
  transform: scale(1.1);
  background-color: var(--hover-bg-color);
}

.info {
  flex-grow: 1;
}

.productName {
  font-size: 18px;
  margin: 0;
}

.productPrice {
  font-size: 14px;
  color: #777;
  margin: 5px 0 0;
}

.add {
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantityControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
}

.quantityButton {
  background-color: var(--foreground-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height */
  transition: background-color 0.2s, transform 0.2s;
}

.quantityButton:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.1);
}

.quantityInput {
  width: 50px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
}

.iconButton:active,
.quantityButton:active {
  transform: scale(0.9);
}

.iconButton:focus,
.quantityButton:focus,
.quantityInput:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-ring-color);
}
